<div class="container">
  <h1> <%= @store_info.long_name %> </h1>

  <div class="store">
    <%= @store_info.type %><br>
    <%= @store_info.address %>, <%= @store_info.city %>, <%= @store_info.state %> <%= @store_info.zip_code %><br>
    Hours:
    <%= @store_hours %>
  </div>
</div>
